<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Kasaragod (pronounced [kaːsɐrɡoːɖɨ̆] ⓘ and Malayalam: Kanhirakode,[1] English: Kassergode, Tulu: Kasrod, Arabic: Harkwillia[10]) is one of the 14 districts in the southern Indian state of Kerala. Its northern border Thalappady is located just 9 km south to Ullal, which is the southernmost portion of the major port city Mangalore, on the southwestern Malabar coast of India.

Kasaragod is the northernmost district of Kerala and is also known as Saptha Bhasha Sangama Bhoomi

The district is situated on the rich biodiversity of the Western Ghats. It was a part of the Kannur district of Kerala until 24 May 1984. The district is bounded by Dakshina Kannada district to the north, Western Ghats to the northeast, Kodagu district to the southeast, Kannur district to the south, and the Arabian Sea to the west. Kasaragod district has the maximum number of rivers in Kerala - 12.[11]
<a href="https://en.wikipedia.org/wiki/Kasaragod_district" target="_blank">Visit Google</a>

</body>
</html>